$default-distance: 16px;
$small-distance: 8px;
$extra-small-distance: 4px;
$large-distance: 32px;
$extra-large-distance: 64px;
$corner-rounding: 10px;

$default-button-size: 48px;

$wrapper-width-mobile: 100%;
$wrapper-width-desktop: 1200px;

$header-width: 75vw;

$background-z-index: 0;
$list-z-index: 5;
$list-overlay-z-index: 10;
$header-z-index: 15;

$default-transition: 0.5s;
$fast-transition: 0.2s;
$extra-fast-transition: 0.1s;

$brand-orange: rgb(255, 116, 23);
$default-white: whitesmoke;
$default-black: rgb(14, 14, 14);
// $background-color: #eff3f8;
$background-color: #eff0f4;
$slightly-darker-bg: #dadee6;
$light-grey: rgb(197, 197, 197);
$grey: rgb(109, 109, 109);

body {
  font-family: "Quicksand", sans-serif;
  background-color: $background-color;
  //   background: linear-gradient(145deg, #dee3e9, #f0f5fd);
  height: 100vh;
  overflow-x: hidden;
}

.wrapper {
  width: $wrapper-width-mobile;
  box-sizing: border-box;
  margin: 0 auto;
  padding: $small-distance;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $default-black;
}

.category-title {
  text-align: start;
  padding: $small-distance 0;
  padding-right: $default-distance;
  //   border-bottom: 2px solid $light-grey;
}

button {
  box-sizing: border-box;
  padding: $default-distance;
  border: none;
  border-radius: $default-distance;
  background: linear-gradient(145deg, #f0f5fd, #caced4);
  //   background: $background-color;
  box-shadow: 2px 2px 4px #6d7074, -5px -5px 10px #ffffff;
}

button.orange {
  //   background: linear-gradient(145deg, #f26e16, #cb5d13);
  background: $brand-orange;
  color: $default-white;
}

button.checkmark img {
  border: 2px solid $grey;
}

button.square-btn {
  width: $default-button-size;
  height: $default-button-size;
  padding: $extra-small-distance;
  i {
    font-size: $default-button-size - ($extra-small-distance * 2);
  }
}

button.round-btn {
  width: $large-distance;
  height: $large-distance;
  padding: $extra-small-distance;

  i {
    font-size: $large-distance - ($extra-small-distance * 2);
  }
}

.container-inset {
  border-radius: $default-distance;
  margin: $small-distance 0;
  box-sizing: border-box;
  background: $background-color;
  box-shadow: inset 5px 5px 10px #bec3c9, inset -5px -5px 10px #ffffff;
}

.container {
  border-radius: $default-distance;
  background: $background-color;
  //   background: linear-gradient(145deg, #caced4, #f0f5fd);
  box-shadow: 5px 5px 10px #bec3c9, -5px -5px 10px #ffffff;
  margin: $small-distance 0;
}

.no-wrap-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.text-shadow {
  text-shadow: 0px 1px 2px $default-black;
}

.masking-shadow {
  -webkit-box-shadow: 0px 10px 10px 0px $background-color;
  -moz-box-shadow: 0px 10px 10px 0px $background-color;
  box-shadow: 0px 10px 10px 0px $background-color;
}

.separator-bottom {
  border-bottom: 2px solid $slightly-darker-bg;
}

.separator-top {
  border-top: 2px solid $default-white;
}

.default-padding {
  padding: $default-distance;
  box-sizing: border-box;
}

.logo {
  h1 {
    margin: 0;
    color: $default-white;
    font-weight: 700;

    span {
      color: $brand-orange;
      background-color: $default-white;
      border-radius: $small-distance;
    }
  }
}

#main-color-overlay.shown {
  background-color: rgba(0, 0, 0, 0.76);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $list-overlay-z-index;
  transition-duration: $fast-transition;
}

#main-color-overlay.hidden {
  background-color: rgba(0, 0, 0, 0);
  transition-duration: $fast-transition;
}

main.hidden{
    // position: absolute;
    // right: -100vw;
    height: 100vh;
    overflow: hidden;
    transition-duration: $default-transition;
}

main.shown{
    // position: absolute;
    // left: 0;
    transition-duration: $default-transition;
}
#app {
  header {
    height: 100vh;
    position: absolute;
    z-index: $header-z-index;
    transition-duration: $fast-transition;

    .header-top {
      margin-bottom: $large-distance;
    }

    .header-wrapper {
      width: 80vw;
      height: 100%;
      box-sizing: border-box;
      background-color: $brand-orange;
      -webkit-box-shadow: 2px 0px 32px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 0px 32px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 2px 0px 32px 0px rgba(0, 0, 0, 0.75);

      nav {
        padding-top: $extra-large-distance;
        border-top: 1px solid $default-white;

        a {
          display: block;
          text-decoration: none;
          color: $default-white;
          margin-bottom: $large-distance;
          padding-left: $default-distance;
          border-left: 6px solid $default-white;
          font-weight: bold;
        }
      }
    }
  }

  header.shown {
    top: 0;
    left: 0;
    transition-duration: $fast-transition;
  }

  header.hidden {
    left: -100vw;
    transition-duration: $fast-transition;
    .burger-container {
      .burger-bar {
        background-color: rgba(0, 0, 0, 0);
        transition-duration: $extra-fast-transition;
      }
    }
  }

  main > header,
  main > section {
    position: relative;
    z-index: $list-z-index;
    height: auto;
  }

  main > header {
    padding: $small-distance $default-distance;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: $background-color;
    z-index: $list-z-index + 1;
  }

  main>footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $background-color;
    z-index: $list-z-index + 1;
  }

  #pending-list {
    padding-top: $extra-large-distance + $default-distance;
  }

  .shopping-item {
    box-sizing: border-box;
    .text {
      margin: 0 $default-distance;

      .item-name {
        margin-bottom: $small-distance;
      }
      .comment {
        color: $grey;
      }
    }

    button.edit i {
      color: $grey;
    }
  }

  .shopping-item:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.03);
  }

  #checked-list {
    .wrapper {
      background-color: $slightly-darker-bg;

      h1 {
        text-align: center;
        display: block;
        width: 100%;
      }

      .flex-wrap {
        width: 100%;
        margin: $default-distance 0;
      }
    }
  }
}
