body {
  font-family: "Quicksand", sans-serif;
  background-color: #eff0f4;
  height: 100vh;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #0e0e0e;
}

.category-title {
  text-align: start;
  padding: 8px 0;
  padding-right: 16px;
}

button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
  border: none;
  border-radius: 16px;
  background: linear-gradient(145deg, #f0f5fd, #caced4);
  -webkit-box-shadow: 2px 2px 4px #6d7074, -5px -5px 10px #ffffff;
          box-shadow: 2px 2px 4px #6d7074, -5px -5px 10px #ffffff;
}

button.orange {
  background: #ff7417;
  color: whitesmoke;
}

button.checkmark img {
  border: 2px solid #6d6d6d;
}

button.square-btn {
  width: 48px;
  height: 48px;
  padding: 4px;
}

button.square-btn i {
  font-size: 40px;
}

button.round-btn {
  width: 32px;
  height: 32px;
  padding: 4px;
}

button.round-btn i {
  font-size: 24px;
}

.container-inset {
  border-radius: 16px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #eff0f4;
  -webkit-box-shadow: inset 5px 5px 10px #bec3c9, inset -5px -5px 10px #ffffff;
          box-shadow: inset 5px 5px 10px #bec3c9, inset -5px -5px 10px #ffffff;
}

.container {
  border-radius: 16px;
  background: #eff0f4;
  -webkit-box-shadow: 5px 5px 10px #bec3c9, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #bec3c9, -5px -5px 10px #ffffff;
  margin: 8px 0;
}

.no-wrap-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-shadow {
  text-shadow: 0px 1px 2px #0e0e0e;
}

.masking-shadow {
  -webkit-box-shadow: 0px 10px 10px 0px #eff0f4;
  box-shadow: 0px 10px 10px 0px #eff0f4;
}

.separator-bottom {
  border-bottom: 2px solid #dadee6;
}

.separator-top {
  border-top: 2px solid whitesmoke;
}

.default-padding {
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo h1 {
  margin: 0;
  color: whitesmoke;
  font-weight: 700;
}

.logo h1 span {
  color: #ff7417;
  background-color: whitesmoke;
  border-radius: 8px;
}

#main-color-overlay.shown {
  background-color: rgba(0, 0, 0, 0.76);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#main-color-overlay.hidden {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

main.hidden {
  height: 100vh;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

main.shown {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#app header {
  height: 100vh;
  position: absolute;
  z-index: 15;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#app header .header-top {
  margin-bottom: 32px;
}

#app header .header-wrapper {
  width: 80vw;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ff7417;
  -webkit-box-shadow: 2px 0px 32px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 32px 0px rgba(0, 0, 0, 0.75);
}

#app header .header-wrapper nav {
  padding-top: 64px;
  border-top: 1px solid whitesmoke;
}

#app header .header-wrapper nav a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  margin-bottom: 32px;
  padding-left: 16px;
  border-left: 6px solid whitesmoke;
  font-weight: bold;
}

#app header.shown {
  top: 0;
  left: 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#app header.hidden {
  left: -100vw;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#app header.hidden .burger-container .burger-bar {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

#app main > header,
#app main > section {
  position: relative;
  z-index: 5;
  height: auto;
}

#app main > header {
  padding: 8px 16px;
  position: fixed;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eff0f4;
  z-index: 6;
}

#app main > footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #eff0f4;
  z-index: 6;
}

#app #pending-list {
  padding-top: 80px;
}

#app .shopping-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app .shopping-item .text {
  margin: 0 16px;
}

#app .shopping-item .text .item-name {
  margin-bottom: 8px;
}

#app .shopping-item .text .comment {
  color: #6d6d6d;
}

#app .shopping-item button.edit i {
  color: #6d6d6d;
}

#app .shopping-item:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.03);
}

#app #checked-list .wrapper {
  background-color: #dadee6;
}

#app #checked-list .wrapper h1 {
  text-align: center;
  display: block;
  width: 100%;
}

#app #checked-list .wrapper .flex-wrap {
  width: 100%;
  margin: 16px 0;
}
/*# sourceMappingURL=style.css.map */