@import "Variables";
@import "InteractiveElements";
@import "CategoriesColors";

body {
  font-family: "Quicksand", sans-serif;
  background-color: $background-color;
  //   background: linear-gradient(145deg, #dee3e9, #f0f5fd);
  height: 100vh;
  overflow-x: hidden;
}

.wrapper {
  width: $wrapper-width-mobile;
  box-sizing: border-box;
  margin: 0 auto;
  padding: $small-distance;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $default-black;
}

.container-inset {
  border-radius: $small-distance;
  margin: $small-distance 0;
  box-sizing: border-box;
  background: $background-color;
  box-shadow: inset 5px 5px 10px #bec3c9, inset -5px -5px 10px #ffffff;
}

.container {
  border-radius: $extra-small-distance;
  background: $background-color;

  //background: linear-gradient(145deg, #caced4, #f0f5fd);
  box-shadow: 1px 2px 5px $container-shadow-color,
    -1px -2px 5px $container-highlight-color;
}

.no-wrap-flex {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.vertical-flex-center {
  display:flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-shadow {
  text-shadow: 0 1px 2px $default-black;
}

.masking-shadow-bottom {
  -webkit-box-shadow: 0 10px 10px 0 $background-color;
  -moz-box-shadow: 0 10px 10px 0 $background-color;
  box-shadow: 0 10px 10px 0 $background-color;
}

.masking-shadow-top {
  -webkit-box-shadow: 0px -10px 10px 0px $background-color;
  -moz-box-shadow: 0px -10px 10px 0px $background-color;
  box-shadow: 0 10px -10px 0px $background-color;
}

.separator-bottom-light {
  border-bottom: 1px solid $slightly-darker-bg;
}

.separator-bottom-dark {
  border-bottom: 1px solid $default-black;
}

.standard-margins-vertical {
  margin-top: $default-distance;
  margin-bottom: $default-distance;
}

.separator-top-light {
  border-top: 1px solid $default-white;
}

.default-padding {
  padding: $default-distance;
  box-sizing: border-box;
}

.small-padding {
  padding: $small-distance;
  box-sizing: border-box;
}

#main-color-overlay {
  background-color: $dark-color-overlay;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $list-overlay-z-index;
  transition-duration: background-color $fast-transition;
  transition-duration: left $extra-fast-transition;
}

#main-color-overlay.hidden {
  background-color: rgba(0, 0, 0, 0);
  left: -100vh;
  transition-duration: background-color $fast-transition;
  transition-duration: left $extra-fast-transition;
}

.full-screen-yellow {
  background-color: $brand-yellow;
  width: 100vw;
  height: 100vh;
}

.landing-state-view {
  background-color: $brand-yellow;
  width: 100vw;
  height: 100vh;
  position: relative;

  .wrapper{
    height: 100%;
    form{
      width: 100%;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $small-distance;
    margin-top: $small-distance;
  }

  .logo {
    margin-bottom: $extra-large-distance;
    margin-top: $extra-large-distance;
  }
}

.error-msg {
  background-color: $error-red;
  width: 100%;
  padding: $default-distance;
  box-sizing: border-box;
  border-radius: $extra-small-distance;
  margin-bottom: $default-distance;

  li {
    display: list-item;
  }
}

.success-msg {
  text-align: center;
}
